body{
  padding:0 0 40px 0;
}

#shared_album_id{
	display: none;
}

.btn-mrgn{
	margin: 10px 10px 10px 0;
}

.relative_thumbnail{
	position: relative;
	float: left;
	margin: 15px;
}

.relative_edit{
	position: absolute;
	bottom:-20px;
}
.relative_delete{
	position: absolute;
	bottom: -20px;
	right: 10px;
}
.relative_more{
	font-size: 15px;
	margin-left: 20px;
}

.relative_caption{
	text-align: center;
	position: absolute;
	bottom: 0px;
	width:60%;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
	left: 20%;
	background: #000;
	color: #fff;
	padding: 0 5px;
	border-radius: 5px;
}

.clear{
	clear: both;
	display: block;
}

.bg-danger,.bg-success{
	width: 30%;
}

.display_album{
	margin-top: 40px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}